<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/replenishment.css">
</head>
<body>
<div class="divReplenishment">
    <h1>Replenishment</h1>
    <hr>
<form class="replenishmentForm" th:action="@{/replenishment/{id}(id = ${id})}" th:object="${walletAmount}" method="post">
   <label>Chose currency and type amount</label>
    <br>
    <select name="currency" th:field="*{currency}">
        <option th:each="currency : ${T(us.yarik.ExchangeApp.model.Currency).values()}"
                th:value="${currency}" th:text="${currency}"></option>
    </select>
    <input type="number" th:field="*{amount}" min="1" />
    <br>
    <hr>
    <button class="submitButton" type="submit">Submit</button>
</form>
</div>
</body>
</html>